@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Arabic", sans-serif;
}
body {
  min-height: 100vh;
}
.announcment {
    background-color: rgba(18, 55, 107, 1);
    color: rgba(255, 255, 255, 1);
    text-align: center;
  }
  header .nav a {
    font-size: 15.25px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    color: rgba(18, 55, 107, 1);
  }
  header .login-signup a {
    font-size: 15.25px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
  
    color: rgba(209, 34, 21, 1);
  }
  header .login-signup button {
    font-size: 15.25px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(240, 75, 37, 1);
    width: 163px;
    height: 45px;
    border-radius: 22.5px;
    border: none;
    outline: none;
  }

  .connn-left h1
  {
   
  font-size: 18px;
  font-weight: 700;
  line-height: 14px;
  color: white;
  }
  .connn-left p 
  {
  
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: white;
  
  }
  
  .connn-right h1
  {
   
  font-size: 18px;
  font-weight: 700;
  line-height: 14px;
  color: white;
  }
  .connn-right p 
  {
  
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: white;
  
  }
  
  
  
  #footer-lasst h1
  {
    font-family: Alexandria;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color :white;
  
  }
  .line 
  {
    width: 100%;
    height: 2px;
    margin-top: 20px;
    background-color: white;
  }
  
  .finaly 
  {
    color :white ;
    margin-top: 10px;
    
  }

  .content-header h1
  {

font-size: 40px;
font-weight: 700;
line-height: 60px;
text-align: right;
color: rgba(18, 55, 107, 1);

  }
  .content-header span 
  
  {
    color: rgba(240, 74, 38, 1);
}

.card h1
{
   
font-size: 24px;
font-weight: 700;
line-height: 36px;
color:  rgba(18, 55, 107, 1)
;

}
.card span 
{
    color: rgba(240, 74, 38, 1);
}

.product 
{
    height: 315px;
    background-color: rgba(245, 245, 245, 1);
    border-radius: 10px 10px 10px 10px  ;
}

.product-head 
{
    border-radius: 10px 10px 0px 0px  ;
}

.product-head  img
{
   width: 466.91px;
   height: 200.87px;
 
}
.product-discount button
{
background-color: rgba(240, 74, 38, 1);
height: 31px;
border-radius: 4px 0px 0px 4px;
border: none;
color: white;
font-size: 12px;
font-weight: 700;
line-height: 26px;
text-align: center;

}
.product-price h1
{

font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: right;
color: rgba(104, 104, 104, 1);

}
.product-price p 
{

font-size: 16px;
font-weight: 700;
line-height: 24px;
text-align: right;
color: rgba(18, 55, 107, 1);

}
.for-phone input , select
{
    height: 56px;
    border: 1px solid rgba(138, 138, 138, 1);
    

}
#em 
{
    height: 56px;
    border: 1px solid rgba(138, 138, 138, 1);

font-size: 20px;
font-weight: 400;
line-height: 26px;
text-align: right;

}
.payment-info  h1
{

font-size: 30px;
font-weight: 700;
line-height: 36.57px;
text-align: right;

color: rgba(18, 55, 107, 1);
}
#rod 
{
    font-family: Alexandria;
font-size: 20px;
font-weight: 400;
line-height: 24.38px;
text-align: right;
color: rgba(97, 97, 97, 1);

}
.visa-fourm 
{
    height: 833px;
    border-radius: 20px;
    background-color: rgba(245, 245, 245, 1);
}
.payment-info span 
{
    color: rgba(240, 74, 38, 1);
}
.for-phone input
{
color: rgba(191, 191, 191, 1);

font-size: 20px;
font-weight: 400;
line-height: 26px;
text-align: right;


}
.name input 
{

    height: 56px;
    border-radius: 6px;
    border: 1px solid rgba(138, 138, 138, 1);

     
}
.product-price button
{
    height: 59px;
    border-radius: 67px ;
    background-color: rgba(240, 74, 38, 1);
    border: none;
    outline: none;
    color: white;
   
font-size: 24px;
font-weight: 700;
line-height: 33.6px;
text-align: center;


}
.product-discount input 
{
    height: 31px;
    border-radius: 0px 4px 4px 0px;
    border: 1px solid rgba(191, 191, 191, 1);
font-size: 8px;
font-weight: 400;
line-height: 26px;
text-align: right;
color: rgba(104, 104, 104, 1);
outline: none;

}

.product-head 
{
    
    height: 50%;
    overflow: hidden;
}
.product-body  h1
{
 
font-size: 25.75px;
font-weight: 700;
line-height: 24px;
text-align: right;
color: rgba(18, 55, 107, 1);
}
.product-body p 
{
    color: rgba(104, 104, 104, 1) ;

font-size: 13px;
font-weight: 400;
line-height: 19.5px;
text-align: right;


}

  @media screen and (max-width: 450px)
  {
    .login-signup {
        display: none !important;
      }

  }

  @media screen and (max-width: 767px)
  {
    #log-menue {
        display: block !important;
      }
    
      .login-signup {
        gap: 10px !important;
      }
      .login-signup button {
        width: 100px !important;
        height: 30px !important;
      }
      header {
        padding: 0 !important;
      }

  }

  @media screen and (max-width: 1000px)
  {
    .nav {
        display: none !important;
      }
      #log-menue {
        display: block !important;
      }
  }